@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
    box-sizing:border-box;
    font-family: 'Ubuntu', 'sans-serif';
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(204, 221, 226);
}

ul{
    padding: 0;
    margin: 0;
    text-align: center;
}

.main-header{
    background-image: url('../css/img/space-vector.jpg');
    padding-bottom: 40px;
    border-bottom: 3px solid rgba(75, 102, 223, 1);
}

.headerLi{
    display: inline-block;
}

.headerLi a{
    display: inline-block;
    padding: 0.8em 1.5em;
    text-decoration: none;
    font-size: 1.2em;
    color: rgba(132, 210, 246, 1);
}

.headerLi a:hover {
    background-color: rgba(56, 111, 164, 1);
}

.headerH1{
    text-align: center;
    font-size: 3.5em;
    color: rgba(132, 210, 246, 1);
}

.apodBox{
    text-align: center;
    padding: 0 1em 0 1em;
}

.imageBox{
    max-width: 60%;
    overflow: hidden;
    margin: 0 auto;
}

.apodImg{
    max-width: 100%;
    height: auto;
    border-radius: 5%;
    border: 10px solid rgba(18, 130, 162, 1);
}

.apodHeading{
    text-align: center;
    color: rgba(21, 33, 60, 1);
    font-size: 1.5em;
}

.apodTitle{
    font-size: 1.75em;
    color: rgba(32, 50, 91, 1);
}

.apodDesc{
    color: rgba(32, 50, 91, 1);
    font-size: 1.25em;
}

.apodDate{
    font-size: 1.25em;
    color: rgba(32, 50, 91, 1);
}

.dateTextField{
    color:rgb(131, 147, 151);
    display: inline-block;
    margin: 100px auto 25px auto;
    padding: 1em;
    font-size: 1.75em;
    border: none;
    border-radius: 1.5em;
    background-color: rgba(255, 255, 255, 0.5);
}

.dateShow{
    display: block;
    font-size: 1.75em;
    color:rgba(56, 111, 164, 1);
    padding: 0.5em 1.25em;
    margin: 0 auto;
    border: none;
    border-radius: 1.5em;
    background-color: rgba(255, 255, 255, 0.5);
}

.dateShow:hover{
    background-color: rgba(132, 210, 246, 1);
}

.main-footer{
    padding: 1.5em 2.5em;
}

.footer-img {
    height: 40px;
}

.dateTextField::selection {
    color: rgba(132, 210, 246, 1);
}

.dateTextField:focus {
    color:rgba(56, 111, 164, 1);
    outline: none;
}