@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

* {
    font-family: 'Ubuntu', sans-serif;
}

html {
    height: 100%;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(-30deg, rgba(2,0,36,1) 0%, rgba(128,159,166,1) 75%);
    background-attachment: fixed;
    margin: 0.75em 1.5em 0 1.5em;
}

.mainHeader{
    padding-bottom: 1.25em;
    margin-bottom: 2.5em;
    border-bottom: 2px solid rgba(2,0,36,0.35);
}

.headerBox{
    position: relative;
    font-size: 1.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #eff1f3;
}

.navList{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.navListElem{
    font-size: 1.25em;
    display: inline-block;
    padding: 0 2.5em 0 2.5em;
}

.navListElem:hover {
    cursor: pointer;
    color: rgb(123, 192, 207);
    filter: drop-shadow(5px 5px 3.5px rgba(2,0,36, 1));
    transform: scale(117.5%);
}

.appNameTag{
    font-size: 1.5em;
}

.headerBtnSpan{
    padding-right: 1em;
}

.btns {
    font-size: 1em;
    padding: 0.5em 1em 0.5em 1em;
    border: 0.25px solid transparent;
    border-radius: 2em;
    background-color: rgb(123, 192, 207);
}

.btns:focus{
    outline: 0;
}

#registerBtn{
    margin-right: 0.5em;
}

.dropShadowBtns:hover{
    background-color: rgba(2,0,36,1);
    border: 0.25px solid rgba(2,0,36,1);
    color:rgb(123, 192, 207);
    filter: drop-shadow(5px 5px 7.5px rgb(123, 192, 207));
    transform: scale(105%);
}

.dropShadowBtns:focus{
    outline: 0;
    background-color: rgba(2,0,36,1);
    border: 0.25px solid rgba(2,0,36,1);
    color:rgb(123, 192, 207);
    filter: drop-shadow(5px 5px 7.5px rgb(123, 192, 207));
    transform: scale(105%);
}

.searchFormContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchBtnContainer{
    display: flex;
    justify-content: center;
}

.searchBtn{
    font-size: 1.5em
}

.searchField{
    padding: 0.75em;
    margin: 0.75em;
    margin-top: 0;
    font-size: 2em;
    border: 5px solid transparent;
    border-radius: 5px;
    background-color: rgb(123, 192, 207);
}

.searchResultTag{
    padding: 1.25em;
    text-align: center;
    font-size: 2em;
}

input[type="text"]::selection, input[type="email"]::selection, input[type="password"]::selection{
    background-color: rgb(2,0,36);
    color:rgb(123, 192, 207);
}

.searchField:focus {
    outline: 0;
    animation: deep 0.15s ease-in-out;
    animation-fill-mode: forwards;
}

.searchResultsContainer{
    min-width: 50%;
    max-height: auto;

    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;

    gap: 55px;
}

.animeCardContainer{
    padding: 1em 5em 1em 5em;
    background-color: rgb(123, 192, 207, 1);
    animation: deep 1s ease-in-out;
    animation-fill-mode: forwards;
    border-radius: 3em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.animeTag{
    font-size: 1.25em;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    color:rgba(2,0,36,1);
}

.animeTag a{
    color:rgba(2,0,36,1);
    outline: 0;
    text-decoration: none;
}

.animeTag::selection, p::selection, a::selection{
    background-color: rgb(2,0,36);
    color:rgb(123, 192, 207);
}

.titleTag:focus, .titleTag:hover{
    outline: 0;
    transform: scale(107.5%);
}

.animeImg{
    margin: 30px;
    height: 250px;
    animation: deep 0.25s ease-in-out;
    animation-fill-mode: forwards;
}

.addBtn{
    margin: 1em;
    background-color: rgba(2,0,36,1);
    color:rgb(123, 192, 207);
}

.addBtn:hover, .addBtn:focus{
    outline: 0;
    transform: scale(115%);
    animation: lesserDeep 0.25s ease-in-out;
    animation-fill-mode: forwards;
}

.profileAnimes{
    max-width: 65%;
    margin: 10px auto 10px auto;
}

.nameInfoTag{
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 1.25em;
}

.animeDetailsCard{
    border-radius: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin: 2em;
    background-color: rgb(123, 192, 207);
    animation: deep 2s ease-in-out;
    animation-fill-mode: forwards;
}

.removeBtn{
    position: absolute;
    top: 42px;
    right: 32px;
    background-color: rgb(2,0,36);
    color:rgb(123, 192, 207);
}

.removeBtn:hover{
    background-color: rgb(143, 37, 37);
}

.removeDialog{
    color:rgb(123, 192, 207);
    border: 0;
    background-color: rgba(2,0,36,0.45);
    filter: drop-shadow(3px 3px 7.5px);
    border-radius: 17.5px;
}

.removeMsg{
    margin: 2em;
    font-size: 1.25em;
}

.removeDialog::backdrop{
    background-color: rgba(2,0,36,0.45);
}

.closeBtnContainer{
    text-align: center;
    margin-bottom: 1em;
}

.closeBtn:hover{
    background-color: rgb(143, 37, 37);
    color:rgb(123, 192, 207);
}

.synopsisTag{
    text-align: center;
}

.animeDetailsTag{
    padding: 0.75em;
    font-size: 1.25em;
}

.popUpElem{
    animation: popUp 1s ease-in-out;
    animation-fill-mode: forwards;
}

.popUpShadowElem{
    animation: popUpShadow 1s ease-in-out;
    animation-fill-mode: forwards;
}

.releasedDateTag{
    padding: 0;
}

.genreContainer{
    display: flex;

}

.genreTag{
    color:rgb(2,0,36);
    font-size: 1.125em;
    margin: 1em 1.25em 0 0;
    padding: 0.5em;
    border: 3px solid rgba(2,0,36, 1);
    border-radius: 20px;
    background-color: rgb(123, 192, 207);
}

.tag::selection{
    background-color: rgba(2,0,36,1);
    color:rgb(123, 192, 207);
}

.statusTag{
    font-size: 1.25em
}

.episodesContainer{
    text-align: center;
}

.episodeBtn{
    background-color: rgba(2,0,36,1);
    margin: 7.5px;
    border: 2px solid transparent;
}

.episodeBtn a{
    color:rgb(123, 192, 207);
    text-decoration: none;
    font-weight: bold;
}

.episodeBtn:hover{
    background-color: rgb(123, 192, 207);
    border: 2px solid rgb(2,0,36);

}

.episodeBtn a:hover{
    color:rgba(2,0,36, 1);
}

input[type="email"]:invalid{
    color: rgba(2,0,36,0.75)
}

.authFormTag{
    text-align: center;
    margin-bottom: 1.25em;
    font-size: 2em;
    font-weight: bold;
}

.invalidAuth{
    text-align: center;
    font-size: 1.5em;
    color: rgb(143, 37, 37);
    margin-bottom: 0.5em;
}

.formContainer{
    max-width: 35%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
}

.credentialContainer{
    margin: 0.5em;
    display: grid;
    grid-template-columns: 200px auto;
    font-size: 1.75em;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.textField{
    font-size: 1.25em;
    border: 5px solid transparent;
    border-radius: 5px;
    background-color: rgb(123, 192, 207);
}

.textField:focus{
    outline: 0;
    animation: deep 0.15s ease-in-out;
    animation-fill-mode: forwards;
}

.submitContainer{
    margin: 1em;
    text-align: center;
}

.submitBtn{
    font-size: 1.25em;
    font-weight: bolder;
}

.addBtnContainer{
    position: relative;
}

.addDialogBox {
    position: absolute;
    left: 85px;
    color:rgb(123, 192, 207);
    border: 0;
    background-color: rgba(2,0,36,0.45);
    filter: drop-shadow(3px 3px 7.5px);
    border-radius: 17.5px;
}

.addMsg{
    text-align: center;
}

.closeBtnContainer{
    margin: 0;
    margin-top: 5px;
    font-size: 0.75em;
}

.UTILdisplayNone{
    display: none;
}

@keyframes deep{
    100%{
        filter: drop-shadow(10px 10px 5px rgb(2,0,36));
    }
}

@keyframes lesserDeep {
    100%{
        filter: drop-shadow(5px 5px 7.5px rgb(2,0,36));
    }
}

@keyframes popUp{
    0%{
        transform: translateY(10px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 100;
    }
}
@keyframes popUpShadow{
    0%{
        transform: translateY(10px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 100;
        filter: drop-shadow(10px 10px 5px rgb(2,0,36));
    }
}